.room-extended-info {
    width: 50%;
    margin-left: 25%;
    background-color: gainsboro;
    padding: 40px;
    border-radius: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.info-card-title {
    margin-bottom: 30px;
    text-align: center;
}

.join-game-btn {
    margin-top: 20px;
    display: flex;
}

.join-game-btn-container {
    display: flex;
    justify-content: flex-end;
}